<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <h1>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" th:text="#{app.name.student}"></span>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" th:text="#{app.name.teacher}"></span>
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-secondary">
                            Home
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/profile(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Profile
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/schedule(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Schedule
                        </button>
                    </form>
                </li>
                <li th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/add(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Add Subject
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/subjects(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Subjects
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/changePassword(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Reset Password
                        </button>
                    </form>
                </li>
            </ul>
            <div class="justify-content-end">
                <form action="#" th:action="@{/api/user/{id}/logout(id=${user.id})}" method="post">
                    <button type="submit" class="btn btn-primary">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome,</h1>
            <h3 class="display-5" th:text="${user.firstName + ' ' + user.lastName + ' !'}"></h3>
        </div>
    </div>


</div>

</body>
</html>