<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" th:text="#{app.name.student}"></span>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" th:text="#{app.name.teacher}"></span>
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Home
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/profile(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Profile
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/schedule(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-secondary">
                            Schedule
                        </button>
                    </form>
                </li>
                <li th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/add(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Add Subject
                        </button>
                    </form>
                </li>
                <li th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/subjects(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Subjects
                        </button>
                    </form>
                </li>
            </ul>
            <div class="justify-content-end">
                <form action="#" th:action="@{/api/user/login}" method="get">
                    <button type="submit" class="btn btn-primary">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
</div>
    <div th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="d-flex flex-column justify-content-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <div th:each = "day : ${days}">
                    <th scope="col" colspan="3" th:text="${day}">day</th>
                </div>

            </tr>
            <tr>
                <th scope="col">#</th>
                <div th:each = "day : ${days}">
                    <th scope="col">Subject</th>
                    <th scope="col">Group</th>
                    <th scope="col">Teacher</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "slot : ${subjectsSlots}">
                <th scope="row" th:text="${slot[__${0}__].subjectTime}"></th>
                <div th:each = "subj : ${slot}">
                        <td th:text="${subj.subjectName}">-</td>
                        <td th:text="${subj.subjectGroup}">-</td>
                        <td th:text="${subj.subjectTeacher?.user?.lastName}">-</td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" class="d-flex flex-column justify-content-center">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <div th:each = "day : ${days}">
                <th scope="col" colspan="3" th:text="${day}">day</th>
            </div>

        </tr>
        <tr>
            <th scope="col">#</th>
            <div th:each = "day : ${days}">
                <th scope="col">Subject</th>
                <th scope="col">Group</th>
                <th scope="col">Teacher</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "slot : ${subjectsSlots}">
            <th scope="row" th:text="${slot[__${0}__].subjectTime}"></th>
            <div th:each = "subj : ${slot}">
                <td th:text="${subj.subjectName}">-</td>
                <td th:text="${subj.subjectGroup}">-</td>
                <td th:text="${subj.subjectTeacher?.user?.lastName}">-</td>
            </div>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>