<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <h1>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" th:text="#{app.name.student}"></span>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" th:text="#{app.name.teacher}"></span>
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-secondary">
                            Home
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/profile(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Profile
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/schedule(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Schedule
                        </button>
                    </form>
                </li>
                <li th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/add(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Add Subject
                        </button>
                    </form>
                </li>
            </ul>
            <div class="justify-content-end">
                <form action="#" th:action="@{/api/user/login}" method="get">
                    <button type="submit" class="btn btn-primary">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <ul class="list-group">
        <li class="list-group-item d-flex list-group-item-secondary justify-content-between align-items-center">
            <div>
                Subject
            </div>
            <span class="badge badge-primary badge-pill">Group</span>
            <form action="#" th:action="@{/api/user/login}" method="get">
                <div>
                    Delete
                </div>
            </form>
        </li>
        <div th:each = "subj : ${subjects}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div th:text="${subj.subjectName}">-</div>
                <span class="badge badge-primary badge-pill" th:text="${subj.subjectGroup}" >-</span>
                    <a th:href = "@{/api/user/{id1}/deleteSubject/{id2}(id1=${user.id}, id2=${subj.subjectId})}" class="btn btn-danger">
                        X
                    </a>
            </li>
        </div>
    </ul>


</div>

</body>
</html>