<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" th:text="#{app.name.student}"></span>
            <span th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" th:text="#{app.name.teacher}"></span>
        </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Home
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/profile(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-secondary">
                            Profile
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/schedule(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Schedule
                        </button>
                    </form>
                </li>
                <li th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/add(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Add Subject
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/subjects(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Subjects
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/api/user/{id}/changePassword(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-light">
                            Reset Password
                        </button>
                    </form>
                </li>
            </ul>
            <div class="justify-content-end">
                <form action="#" th:action="@{/api/user/{id}/logout(id=${user.id})}" method="post">
                    <button type="submit" class="btn btn-primary">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <div th:if="${user.userRole == T(com.schedule.proj.model.UserRole).STUDENT}" class="d-flex flex-column justify-content-center">
        <form action="#" th:action="@{/api/user/{id}/profile/edit(id=${user.id})}" th:object="${user.student}"  method="get">
            <fieldset disabled>
                <div class="form-group row">
                    <label for="input1" class="col-sm-2 col-form-label">Faculty</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{faculty}" class="form-control" id="input1" placeholder="-" th:text="${faculty}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input2" class="col-sm-2 col-form-label">Speciality</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{speciality}" class="form-control" id="input2" placeholder="-" th:text="${speciality}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input3" class="col-sm-2 col-form-label">Year</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{studentYear}" class="form-control" id="input3" placeholder="-" th:text="${studentYear}">
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-center form-group">
                <button type="submit" class="btn btn-primary">
                    Edit
                </button>
            </div>
        </form>
    </div>
    <div th:if="${user.userRole == T(com.schedule.proj.model.UserRole).TEACHER}" class="d-flex flex-column justify-content-center">
        <form action="#" th:action="@{/api/user/{id}/profile/edit(id=${user.id})}" th:object="${user.teacher}"  method="get">
            <fieldset disabled>
                <div class="form-group row">
                    <label for="input11" class="col-sm-2 col-form-label">Faculty</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{faculty}" class="form-control" id="input11" placeholder="-" th:text="${faculty}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input22" class="col-sm-2 col-form-label">Cathedra</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{cathedra}" class="form-control" id="input22" placeholder="-" th:text="${cathedra}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input33" class="col-sm-2 col-form-label">Rank</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{rank}" class="form-control" id="input33" placeholder="-" th:text="${rank}">
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-center form-group">
                <button type="submit" class="btn btn-primary">
                    Edit
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>